.hero {
  min-height: 200px;
  position: relative;
}

.pageTitle {
  position: absolute;
  padding-left: 24px;
  padding-bottom: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  bottom: 0px;
}

.pageImage {
  position: absolute;
  object-fit: cover;
  height: 200px;
  width: 100%;
  filter: grayscale(100%);
  opacity: 0.8;
}
