a,
a:visited {
  text-decoration: none;
  color: #000000;
}

.page {
  padding: 24px;
}

.pageForm {
  background-color: #f9f9f9;
  border-style: solid;
  border-color: #edeff1;
  border-top-color: #3eb1c8;
  border-width: 1px;
  border-top-width: 4px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 24px;
  padding-bottom: 12px;
}

.formField {
  margin-top: 6px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.formLabel {
  margin-bottom: 6px;
  font-size: 16px;
}

.formInput {
  font-size: 16px;
  flex: 1;
}

.formButton {
  width: 100%;
  height: 36px;
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.list {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.listItem {
  border-bottom-style: solid;
  border-bottom-color: #edeff1;
  border-width: 1px;
  min-height: 36px;
  padding-top: 6px;
  padding-bottom: 6px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listTitle {
  font-size: 18px;
  text-decoration: none;
}

.listText {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
